ez_setup
six>=1.6.1
twisted
zope.interface
kitchen
pyyaml
protobuf
beautifulsoup4
netaddr
gitpython==0.3.2.RC1
gitdb
async
pyopenssl
psutil
pymongo
redis
enum34
weakreflist
logbook
pytimeparse
service_identity
txrequests
idna
pbkdf2
bcrypt
