ez_setup
six>=1.6.1
twisted
zope.interface
kitchen
pyyaml
protobuf
beautifulsoup4
netaddr
gitpython==0.3.2.RC1
gitdb
async
pyopenssl
psutil
clojure-py
pymongo
redis
enum34
weakreflist
logbook
pytimeparse
requests
