main:
  protocol-type: irc
  can-flood: no

network: # Network connection settings
  address: irc.esper.net # Address of the server
  port: 6697 # Port to connect to
  ssl: yes # Use SSL?
  password: ""
# You may set this if you need the bot to bind to a certain IP address (for example, for a VHOST).
# If you don't need it, you should omit it. Note that your bot will be unable to connect if you
#   don't set this properly - It should either be an IP address assigned to your machine, or a
#   domain that resolves to an IP address assigned to your machine.
#  bindaddr: 127.0.0.1

identity: # Settings relating to identification and authentication
  nick: Ultros # The bot's nickname
  authentication: None # This can be None, NickServ, NS-old Auth, SASL or Password.
                       # Use Auth if you're connecting to QuakeNet
                       # Use NS-old to omit the username when identifying with NickServ. If in doubt, use NickServ.
                       # Note that using NS-old means that you must sign on as the user you want to login as.
  auth_name: Ultros # The username to use for authentication (If applicable)
  auth_pass: password # The password to use for authentication (If applicable)
  auth_target: NickServ # Only used for NickServ auth, change this if the network has renamed their NickServ.
                        # Do not use this if you're on Quakenet, use Auth instead.

channels: # Initial channels to join.
          # Remember, channel names must be surrounded in "quotes"
  - name: "#Ultros"
    key:
    kick_rejoin: no  # Set this to yes to have the bot rejoin automatically when kicked, if the global setting is set to no

control_chars: "." # What messages must be prefixed with to count as a command.
                   # This doesn't have to be just one character!
                   # You can also use {NICK} in place of the bot's current nick.

rate_limiting: # Limit the speed of sending messages
  enabled: yes
  line_delay: 0.1 # Delay (in seconds) between each line being sent

ctcp_flood_protection: # Block CTCP floods
  enabled: yes
  ctcp_time: 30 # Time limit in which we will allow...
  ctcp_count: 5 # ...this many CTCP messages

# Set this to yes to automatically rejoin all channels when kicked
# Set this to no to allow configuration of individual channels
kick_rejoin: no

# How long to wait before rejoining channels, in seconds
rejoin_delay: 2

perform:  # Raw lines to send to the server after we've identified but before we join channels
- "PRIVMSG ChanServ :INVITE #staff"

invite_join: no  # Whether to automatically join channels on invite

reconnections: # Settings for reconnecting on connection failures. This is optional, but will override
               # the section in settings.yml if you provide it.
  delay: 10
  max-delay: 300
  attempts: 5
  on-drop: yes
  on-failure: yes
  reset-on-success: yes

# fingers:  # A list of reponses to return at random to CTCP FINGER requests
#           # Leave it empty or remove it from the config to disable this feature
#   - "No. Just, no."
#   - "Maybe you should do that with someone of your own species."
#   - "I don't think that's how that works.."
