network: # Network connection settings
  address: irc.archivesmc.com # Address of the server
  port: 6667 # Port to connect to
  ssl: no # Use SSL?

identity: # Settings relating to identification and authentication
  nick: Ultros # The bot's nickname
  authentication: None # This can be None, NickServ, NS-old Auth or Password.
                       # Use Auth if you're connecting to QuakeNet
                       # Use NS-old to omit the username when identifying with NickServ. If in doubt, use NickServ.
                       # Note that using NS-old means that you must sign on as the user you want to login as.
  auth_name: Ultros # The username to use for authentication (If applicable)
  auth_pass: password # The password to use for authentication (If applicable)
  auth_target: NickServ # Only used for NickServ auth, change this if the network has renamed their NickServ.
                        # Do not use this if you're on Quakenet, use Auth instead.

channels: # Initial channels to join. The bot will remember what channels it was in, you don't need to keep updating this.
          # Remember, channel names must be surrounded in "quotes"
  - name: "#Ultros"
    key:
