network:  # Network settings
  address: localhost  # The address to connect to
  port: 64738  # The port to connect on

identity:  # Identity settings. Who am I?
  username: Ultros  # Username to connect with
  password:   # Server password. You probably don't need this.
  tokens: []  # Auth tokens for locked-down channels.

channel: # Channel to join on connect, specified either by name or id
  name:
  id:

control_chars: "." # What messages must be prefixed with to count as a command.
                   # This doesn't have to be just one character!
                   # You can also use {NICK} in place of the bot's current nick.