main:
  protocol-type: mumble
  can-flood: no

network:  # Network settings
  address: localhost  # The address to connect to
  port: 64738  # The port to connect on

identity:  # Identity settings. Who am I?
  username: Ultros  # Username to connect with
  password:   # Server password. You probably don't need this.
  tokens: []  # Auth tokens for locked-down channels.
  certificate: "config/protocols/mumblecert.p12" # Path to certificate file, relative to the base directory

channel: # Channel to join on connect, specified either by name or id
  name:
  id:

audio:  # Audio (voice comm) settings
  # Should automatically mute/deafen self on join? Deafening self is recommended
  # if you do not have any plugins that use the audio, as it will save on processing.
  should_mute_self: True
  should_deafen_self: True

# How often user stats (idle time, ping information, etc.) should be requested.
# If you're unsure what this means or what to set it to, leave it commented out.
# userstats_request_rate: 60

control_chars: "." # What messages must be prefixed with to count as a command.
                   # This doesn't have to be just one character!
                   # You can also use {NICK} in place of the bot's current nick.