# Ultros is able to use various different types of protocols.
# These protocols must all be based on Twisted's Protocols.
# Ultros ships with the "irc" and "mumble" protocols.
# Developers may create their own Protocol objects for connecting to other
# services, such as Steam or Teamspeak.

# Specify the names of the protocols to use for connections here.
protocols:
  - irc-esper

# Any protocol-specific configuration goes in its own configuration file in the
# "protocols" folder. This will include connection information, so make sure
# you fill the file out!

# List plugins to load below. Plugins are referred to by name, which you can
# always find in that plugin's .plug file.
plugins:
  - Auth  # Configurable permissions and authentication system that ships with Ultros
  - Bridge  # Configurable message relaying between protocols or within a protocol
  - Factoids  # Create and retrieve factoids
  - URLs  # Tools for working with URLs, URL titles and URL shorteners

reconnections: # Settings for reconnecting on connection failures. Reconnection counters are not shared between protocols.
  # You can add this section to a protocol config if you want to have per-protocol reconnection settings.
  delay: 10 # How long to wait between reconnection attempts, in seconds. Delays are staggered between consecutive attempts.
  max-delay: 300 # The largest possible acceptable delay.
  attempts: 5 # How many times to attempt reconnecting. Set to 0 for infinite attempts.
  on-drop: yes # Whether to reconnect if we lose connection.
  on-failure: yes # Whether to reconnect if we fail to connect.
  reset-on-success: yes # Whether to reset the counter if we successfully reconnect.

# Simple metrics, for http://ultros.io/metrics

# Set this to "on" to enable the sending of some basic, anonymous metrics to the site.
#     This will assign this instance of the bot with a UUID if it doesn't have one already.

# Set this to "off" to alert the server that your UUID is not to have metrics collected, and
# disable metrics reporting.
#     If you have no UUID, this will prevent the bot from ever connecting to the server.

# Set this to "destroy" to have the server delete its records of your UUID, and delete it from
# this bot's instanec.
#     If you have no UUID, this will prevent the bot from connecting to the server. You don't have
#     to change this to "off" when the UUID is destroyed, for that reason.
metrics: on

# This allows you to disable the sending of exceptions to the Ultros metrics server, without disabling
# metrics entirely. Simply set it to "no" to do that.
send-exceptions: yes
