# Ultros is able to use various different types of protocols.
# These protocols must all be based on Twisted's Protocols.
# Ultros ships with the "irc" protocol, for connecting via IRC.
# Developers may create their own Protocol objects for connecting to other
# services, such as Mumble.

# Specify the names of the protocols to use for connections here.
protocols:
  - irc

# Any protocol-specific configuration goes in its own configuration file in the
# "protocols" folder. This will include connection information, so make sure
# you fill the file out!

# List plugins to load below. Plugins are referred to by name, which you can
# always find in that plugin's .plug file.
plugins:
  - Bridge  # Configurable message relaying between protocols or within a protocol
  - Web  # Extensible REST API including an API-key-based security system

reconnections: # Settings for reconnecting on connection failures. Reconnection counters are not shared between protocols.
  delay: 10 # How long to wait between reconnection attempts, in seconds.
  attempts: 5 # How many times to attempt reconnecting
  on-drop: yes # Whether to reconnect if we lose connection
  on-failure: yes # Whether to reconnect if we fail to connect
  reset-on-success: yes # Whether to reset the counter if we successfully reconnect